# Ignore binário do projeto
/main

# Dependências e módulos do Go
/go.sum
/vendor/

# Arquivos temporários e de cache
*.log
*.tmp
*.out

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações locais do editor
.vscode/
.idea/
*.swp

# Variáveis de ambiente
.env

# Logs de testes e cobertura
coverage.out
test_results/
